@import '/src/assets/scss/core/variables';
@import '/src/assets/scss/core/mixins';

.home--view {
  .articles--container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

    @include screen(small) {
      display: block;
    }
  }
}
