<div class="home--view">
  <!-- In the event of error -->
  <app-error-state [message]="'An error occurred'" *ngIf="error; else other_content"></app-error-state>

  <!-- No error -->
  <ng-template #other_content>
    <!-- Loading Placeholder -->
    <app-placeholder *ngIf="isLoading; else loaded_content" [isArticles]="true" [number]="20"></app-placeholder>
    <ng-template #loaded_content>
      <ng-template [ngIf]="articles.length">
        <div class="articles--container">
          <app-news-item *ngFor="let article of articles" [article]="article"></app-news-item>
        </div>
      </ng-template>
      <!-- Empty state for empty article list -->
      <app-empty-state *ngIf="!articles.length" [isHome]="true"></app-empty-state>
    </ng-template>
  </ng-template>
</div>
