<div class="news--item">
  <div class="item--image">
    <img [src]="article.urlToImage" [alt]="article.title" onerror="this.onerror=null; this.src='./assets/svg/fallback-image.svg'" lazy />
  </div>
  <a [href]="article.url" target="_blank" class="title">
    <h2>
      {{ article.title }}
    </h2>
  </a>
  <div class="description">
    <p>{{ description }}</p>
  </div>

  <div class="other--details">
    <div class="author">{{ article.author }}</div>
    <div class="date">
      <span *ngIf="article.author">&nbsp;•</span>
      {{ article.publishedAt | date }}
    </div>
    <div class="bookmark">
      <ng-template [ngIf]="isBookmarked" [ngIfElse]="default">
        <a href="" (click)="removeFromBookmarks($event, article)" *ngIf="isShowRemove; else check_content">
          <img src="./assets/svg/bookmark-remove.svg" alt="Bookmark" />
        </a>
        <ng-template #check_content>
          <span>
            <img src="./assets/svg/bookmark-check.svg" alt="Bookmark" />
          </span>
        </ng-template>
      </ng-template>
      <ng-template #default>
        <a href="" (click)="addToBookmarks($event, article)">
          <img src="./assets/svg/bookmark-add.svg" alt="Bookmark" />
        </a>
      </ng-template>
    </div>
  </div>
</div>
